* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("baggrund-right_size.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

}

img {
    width: 100%;
}

#splash {
    width: 100vw;
    height: 100vh;
    background-image: url(portfolio_splash_bg.png);
    background-size: cover;
    background-position: 80% 10%;
    max-width: none;
}

section {
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

.sectionwrapper {
    margin-top: 0;
}


/*---------------------WEB---------------------*/
#web .sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;

    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;

    background-color: hsla(345, 84%, 25%, 0.25);

}

#web .col {
    flex-grow: 1;
    flex-basis: 400px;

}

#web .col img {
    margin-top: 2vw;
}

/********Moodboards-web*************/
#moodboards .sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
}


.col_m {
    flex-grow: 1;
    flex-basis: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;
    background-color: hsla(345, 84%, 25%, 0.25);
}

/********Moodboards-web*************/
/*---------------------WEB SLUT---------------------*/
/*-------------------------UX---------------------*/
#ux .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    display: flex;

    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;
    background-color: hsla(345, 84%, 25%, 0.25);

}

#ux .col {
    flex-grow: 1;
    flex-basis: 400px;


}

#ux_img img {
    padding: 0vw;
    margin: 1vw;
    width: 15vw;
    height: 35vw;
    margin-left: 20vw;
    margin-top: 2vw;


}

/*---------------------UX SLUT-----------------------*/
/*---------------------ANIMATION---------------------*/
#animation .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 0.6rem 0.6rem;
    margin: 0.6rem;

    background-color: hsla(345, 84%, 25%, 0.25);
}

#animation .col {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;
}

#animation .col .image {
    flex-grow: 1;
    flex-basis: 200px;

}

#animation .col1 img {
    width: 40vw;
    height: 22vw;
}

/*---------------------ANIMATION SLUT---------------------*/
/*-------------------------INHOLD-------------------------*/
#indhold .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;
    background-color: hsla(345, 84%, 25%, 0.25);

}

/* green with opacity */
#indhold .col .image {
    flex-grow: 1;
    flex-basis: 200px;
}

#indhold .col {
    flex-grow: 1;
    flex-basis: 300px;

}


/**********Dokumentation indhold start*************/
#indhold .sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;

    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;

    background-color: hsla(345, 84%, 25%, 0.25);

}

#indhold .col {
    flex-grow: 1;
    flex-basis: 400px;

}

#layoutdiagram_id {
    column-count: 4;
    column-gap: 1em;
    margin: 1.5em;
    padding: 0;
}

.layoutdiagram {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
    background-color: hsla(345, 84%, 25%, 0.25);
}

#documentation h2 {
    padding-left: 2rem;
    padding-top: 0;
    padding-bottom: 0;
}

/*-----------------------dokumenation indhold SLUT---------------------*/
/*-----------------------INDHOLD SLUT---------------------*/
/*--------------------------CV----------------------------*/
#cv .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;

    background-color: hsla(345, 84%, 25%, 0.25);
}

#cv .col {
    flex-grow: 1;
    flex-basis: 300px;
}

/*--------------------------CV SLUT-----------------------*/
/*-------------------MENU LINJEN-----------------------*/
header {
    position: fixed;
    background: linear-gradient(to bottom, hotpink, transparent);
    width: 100%;
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.8rem;

}

header nav a {
    margin: 0.5rem;
    padding: 0 0.5rem 0.5rem;
}

@media only screen and (min-width:600px) {

    header nav {
        flex-direction: row;
        justify-content: center;
        margin: 0.4rem;
        align-items: baseline;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.9rem;


    }

    header nav a {
        color: black;
        text-decoration: none;

    }


}

/*-------------------MENU LINJEN SLUT----------------*/
/*------------------FONTS--------------------*/
h1 {

    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    color: black;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;

}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
}


a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.8rem;
    color: black;
}


/*------------------FONTS slut--------------------*/
@media screen and (max-width:300px) #splash {}

@media only screen and (min-width:600px) {

    header nav {
        flex-direction: row;
        justify-content: center;
        margin: 0.3rem;
        align-items: baseline;
    }










    /*________________Billeder indhold_________*/
    #masonry {
        column-count: 4;
        column-gap: 1em;
        margin: 1.5em;
        padding: 0;
    }

    .item {
        display: inline-block;
        background: #fff;
        padding: 1em;
        margin: 0 0 1.5em;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 2px 2px 4px 0 #ccc;
        background-color: hsla(345, 84%, 25%, 0.25);
    }
