body {
    margin: 0;
    background-image: url("baggrund-right_size.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

}

img {
    width: 100%;
}

section {
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;
}

.sectionwrapper {
    margin-top: 0;
}


/*---------------------WEB---------------------*/
#web .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;

    background-color: hsla(345, 84%, 25%, 0.25);

}

#web .col {
    flex-grow: 1;
    flex-basis: 500px;
}

/*---------------------WEB SLUT---------------------*/
/*-------------------------UX---------------------*/
#ux .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#ux .col {

    flex-grow: 1;
    flex-basis: 600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;
    background-color: hsla(345, 84%, 25%, 0.25);
}

/*---------------------UX SLUT-----------------------*/
/*---------------------ANIMATION---------------------*/
#animation .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;

    background-color: hsla(345, 84%, 25%, 0.25);
}

#animation .col {
    flex-grow: 1;
    flex-basis: 500px;
}

/*---------------------ANIMATION SLUT---------------------*/
/*-------------------------INHOLD-------------------------*/
#indhold .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;
    background-color: hsla(345, 84%, 25%, 0.25);

}

/* green with opacity */
}

#indhold .col {
    flex-grow: 1;
    flex-basis: 500px;
}

/*-----------------------INDHOLD SLUT---------------------*/
/*--------------------------CV----------------------------*/
#cv .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 0 0.6rem 0.6rem;
    margin: 0.8rem;

    background-color: hsla(345, 84%, 25%, 0.25);
}

#cv .col {
    flex-grow: 1;
    flex-basis: 500px;
}

/*--------------------------CV SLUT-----------------------*/
